@{
        ViewBag.Title = "Index";
    }
<div id="index">
    <p>
        Welcome to the new Shuk Routing program <br /> Here you will get your best results for your shuk shoppings !!
    </p>
</div>
  







