@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shuk Routing</h1>
    <p class="lead">Shuk Routing is designed to get you the best out of you'r shuk shopping's !!</p>
    <p class="btn btn-primary btn-lg" style="background-color:#eeeeee">@Html.ActionLink("More","About","Home")</p>
</div>








